/* Max Width 1200 */
@media only screen and (max-width: 1200px) {
    .header-col h2 {
        transform: translateX(13rem);
        -webkit-transform: translateX(13rem);
        -moz-transform: translateX(13rem);
        -ms-transform: translateX(13rem);
        -o-transform: translateX(13rem);
    }
    .signUp .signup-box {
        width: 40%;
    }
}
/* max width 1125px */
@media only screen and (max-width: 1125px) {
    .header-col h2 {
        transform: translateX(7rem);
        -webkit-transform: translateX(7rem);
        -moz-transform: translateX(7rem);
        -ms-transform: translateX(7rem);
        -o-transform: translateX(7rem);
}
    .video {
        width: 49.2rem;
        height: 32.1rem;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 40%;
    }
}
/* max width 1024px */
@media only screen and (max-width: 1024px) {
    .header-col h2 {
        transform: translateX(0rem);
        -webkit-transform: translateX(0rem);
        -moz-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
        -o-transform: translateX(0rem);
    }
    .video {
        height: 29.1rem;
    }
    .quick-inventor-section .quick-inventor-box {
        width: 50%;
    }
}
/* max width 980px */
@media only screen and (max-width: 980px) {
    .row {
        padding: 5rem 5%;
    }
    nav .row {
        padding: 1rem 5%;
    }
}
/* max width 900px */
@media only screen and (max-width: 900px) {
    html {
        font-size: 57.5%;
    }
    .three-trams-row .three-trams-box {
        width: 49.2%;
        &:nth-child(3) {
            flex-grow: 0;
        }
    }
}
/* max width 800px */
@media only screen and (max-width: 800px) {
    .card-design-form {
        flex-wrap: wrap;
    }
    .card-design-form .front-form {
        width: 70%;
        border: none;
    }
    .background-theme {
        width: 70%;
        margin-top: 4rem;
    }
}
/* max width 767px */
@media only screen and (max-width: 767px) {
    .nav-content .menu  {
        display: none;
    }
    .three-desh-btn {
        display: block;
    }
    header .header-content {
        flex-direction: column-reverse;
        justify-content: end;
        text-align: center;
    }
    .video {
        width: 100%;
        position: relative;
        top: 0;
    }
    .header-col .Reasons-for-use {
        margin-top: 1.2rem;
    }
    .header-col .order-btn {
        margin-top: 2.2rem;
    }
    .header-col h1 {
        margin-top: 2rem;
    }
    .product-row .product-main-box {
        width: 100%;
        &:nth-child(2) {
            margin-top: 4rem;
        }
    }
    .faqs-box {
        width: 100%;
    }
    .feature-comparison .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .feature-comparison .card-comparison {
        width: 100%;
        padding: 2rem 0;
    }
    .feature-comparison .card-model {
        width: 100%;
    }
    .signUp .signup-box {
        width: 45%;
    }
    .product-section .flex-the-row {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .product-section .product-col {
        width: 80%;
    }
    .cashOut-section .row form {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .cashOut-section .col {
        width: 80%;
    }
    .about-row .about-container,
    .contact-row .contact-container {
        width: 100%;
    }
    .order-status-found .order-status-box {
        width: 100%;
    }
    .order-status-box {
        width: 100%;
    }
    
}
/* max width 700px */
@media only screen and (max-width: 700px) {
    #side-menu {
        width: 60%;
    }
    .benefits-btn-row .benefit-btn {
        font-size: 1.6rem;
        &::before {
            width: 7rem;
            top: 7rem;
            left: 1rem;
        }
    }
    .signUp .signup-box {
        width: 55%;
    }
    .product-section .product-col {
        width: 90%;
    }
    .cashOut-section .col {
        width: 90%;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 45%;
    }
    .card-design-form .front-form {
        width: 90%;
    }
    .background-theme {
        width: 90%;
    }
}
/* max width 600px */
@media only screen and (max-width: 600px) {
    #side-menu {
        width: 70%;
    }
    .three-trams-row .three-trams-box {
        width: 100%;
        flex-grow: 1;
    }
    .quick-inventor-section .quick-inventor-box {
        width: 70%;
    }
    .signUp .signup-box {
        width: 60%;
    }
    .section-title-row .section-title::after {
        position: relative;
        margin: auto;
        display: table;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 65%;
    }
    .card-design-form .front-form {
        width: 100%;
        padding: 0;
    }
    .background-theme {
        width: 100%;
        padding: 0;
    }
}
/* max width 500px */
@media only screen and (max-width: 500px) {
    #side-menu {
        width: 100%;
    }
    .signUp .signup-box {
        width: 70%;
    }
    .product-section .product-col {
        width: 95%;
    }
    .cashOut-section .col {
        width: 95%;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 70%;
    }

}
/* max width 480px */
@media only screen and (max-width: 480px) {
    .video {
        height: 25.1rem;
    }
    .benefits-btn-row .benefit-btn {
        font-size: 1.5rem;
    }
    &::before {
        width: 7rem;
        top: 7.5rem;
        left: 1rem;
    }
    .quick-inventor-section .quick-inventor-box {
        width: 100%;
    }
    .product-section .product-col {
        width: 95%;
    }
    .signUp .signup-box {
        width: 95%;
    }
    .cashOut-section .col {
        width: 100%;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 40%;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 90%;
    }
    .mission {
        width: 48%;
    }
}

/* max width 320px */
@media only screen and (max-width: 320px) {
    .dropdown-side-menu {
        left: 40%;
    }
    .signUp .reg-box,
    .logIn .reg-box {
        width: 100%;
    }
}